<!DOCTYPE html>
<html lang="en">
	{% include head.html %}
	<body id="page-top">
	  {% include nav.html %}
	  {% for thisSection in page.sections %}
		{% if thisSection.name == 'Home' %}
			{% include home.html %}
		{% endif %}
		{% if thisSection.name == 'Who We Are' %}
			{% include who-we-are.html %}
		{% endif %}
		{% if thisSection.name == 'Games We Play' %}
			{% include games-we-play.html %}
		{% endif %}
		{% if thisSection.name == 'Our Groups' %}
			{% include our-groups.html %}
		{% endif %}
		{% if thisSection.name == 'Gallery' %}
			{% include gallery.html %}
		{% endif %}
		{% if thisSection.name == 'Contact' %}
			{% include contact.html %}
		{% endif %}
		{% if thisSection.name == 'Aside' %}
			{% include aside.html %}
		{% endif %}
	  {% endfor %}
	  {% include scripts.html %}
	</body>
</html>